<swiper-container scrollbar-hide="true" [slidesPerView]="slidesPerView">
    <ng-container *ngFor="let food of foodArray">
        <swiper-slide *ngIf="food.discount > 0;" style="padding: 3rem 0">
          <div
            class="card-food w-[250px] rounded-md overflow-hidden bg-white shadow-md relative duration-150 ease-in"
          >
            <div class="card-body h-[200px] overflow-hidden">
              <img
                src="{{ food.food_image }}"
                width="100%"
                height="100%"
                class="object-cover"
                alt=""
              />
              <div class="discount absolute top-0 flex justify-between w-full">
                <p class="bg-orange-500 text-white px-4 py-1">
                  -{{ food.discount }}%
                </p>
                <mat-icon class="text-red-500 m-1">favorite</mat-icon>
              </div>
            </div>
            <div class="card-content px-3 py-2">
              <div class="head flex justify-between">
                <div class="">
                  <p class="font-Archivo font-bold text-lg" style="margin: 0">
                    {{ food.food_name }}
                  </p>
                  <div class="review flex items-center">
                    <p style="margin: 0">Review {{ food.review }}</p>
                    <mat-icon class="text-sm text-yellow-300">star</mat-icon>
                  </div>
                </div>
                <div class="price">
                  <p
                    class="font-Archivo text-orange-400 text-xl"
                    style="margin: 0"
                  >
                    {{
                      ((food.price * (100 - food.discount)) / 100).toFixed(0)
                    }}$
                  </p>
                  <div class="price-discount relative items-center">
                    <span
                      class="bg-slate-300 w-8 h-[2px] absolute top-2.5"
                    ></span>
                    <p class="text-slate-300">{{ food.price }}$</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <button
                class="btn w-full py-3 px-3 bg-black text-white rounded-md hover:bg-slate-800 duration-100"
              >
                Sign in
              </button>
            </div>
          </div>
        </swiper-slide>
      </ng-container>
</swiper-container>
